* {
    padding: 0px;
    margin: 0px;
}

body {
   background-color: darkgray;
}

h2{
    color: rgba(0, 0, 0, 0.61);
}

header {
    background-color:  rgb(148, 148, 148);
    padding-top: 30px;
    margin: auto; 
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.253);
    font-size: 1.3em;
}

header > h1 {
    color: #1B2838;
    font-size: 1.5em;
    padding: 2px;
    margin-bottom: 20px;
    text-align: center;
    
}

header > p {
    color: #1b2838b4;
    font-size: 1.2em;
    text-align: center;
    max-width:500px ;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
     
}

nav > a {
    background-color:  rgb(148, 148, 148);
    color: rgba(0, 0, 139, 0.438);
    margin: 5px;
    padding: 0px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

nav > a:hover {
    background-color: rgba(0, 0, 139, 0.678);
    color: black;
    transition: 0.8s;
}

nav { 
    background-color:  rgb(148, 148, 148);
    margin: auto;
    padding: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.253);
}



main {
    background-color: #1B2838;
    color: rgba(255, 255, 255, 0.432);
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    
    padding: 5px;
}

main > article > p {
    font-size: 1.2em;
}

footer {
    background-color: rgb(148, 148, 148);
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: darkblue;
    text-decoration: none;
    font-size: 1.2em;
}

footer > a {
    text-decoration: none;
    color:black;
}

footer > a:hover {
    text-decoration: underline;
    color: #1B2838;
}